<section class="hero ">
    <div class="wrapper container">
        <div class="block-for-info-hero">
            <h1 class="header-hero">Discover Your Next Favorite Artist Today</h1>
            <p class="text-hero">
                Dive into a world of music discoveries with ArtistsHub
                – your personal guide to the boundless universe of sound.
                Explore, filter, and learn about your favorite artists all in one place.
            </p>
            <a href="#Artists"><button type="button" class="button-explore-artist">Explore Artists <img class="right-arrow" src="../img/icons/right-arrow.svg" alt="right-arrow"></button></a>
        </div>

        <div class="block-for-images-hero">
            <div class="wrapper-for-images-hero">
                <ul class="list-for-firstsection-images">
                    <li><img class="image-hero" src="../img/oliver.png" alt="oliver"></li>
                    <li><img class="image-hero" src="../img/girl.png" alt="girl"></li>
                    <li><img class="image-hero" src="../img/glasses-man.png" alt="glasses-man"></li>
                </ul>

                <ul class="list-for-secondsection-images">
                    <li><img class="image-hero" src="../img/eye-man.png" alt="eye-man"></li>
                    <li><img class="image-hero" src="../img/man-sit.png" alt="man-sit"></li>
                    <li><img class="image-hero" src="../img/black-man.png" alt="black-man"></li>
                </ul>
            </div>

        </div>
    </div>

</section>