<section class="hero ">
    <div class="wrapper container">
        <div class="block-for-info-hero">
            <h1 class="header-hero">Discover Your Next Favorite Artist Today</h1>
            <p class="text-hero">
                Dive into a world of music discoveries with ArtistsHub
                – your personal guide to the boundless universe of sound.
                Explore, filter, and learn about your favorite artists all in one place.
            </p>
            <a href="#Artists"><button type="button" class="button-explore-artist">Explore Artists <img class="right-arrow" src="../img/icons/right-arrow.svg" alt="right-arrow"></button></a>
        </div>

        <div class="block-for-images-hero">
            <div class="wrapper-for-images-hero">
                <ul class="list-for-firstsection-images">
                    <li><picture>
                        <source srcset="../img/oliver-phone.png" media="(min-width:320px) and (max-width: 767px)">
                        <source srcset="../img/oliver-tablet.png" media="(min-width: 768px) and (max-width: 1439px)">
                            <img class="image-hero" src="../img/oliver.png" alt="oliver">
                        </picture>
                    </li>    
                    <li><picture>
                        <source srcset="../img/girl-phone.png" media="(min-width:320px) and (max-width: 767px)">
                        <source srcset="../img/girl-tablet.png" media="(min-width: 768px) and (max-width: 1439px)">
                            <img class="image-hero" src="../img/girl.png" alt="girl">
                        </picture>
                    </li>
                    <li><picture>
                            <source srcset="../img/glasses-man-phone.png" media="(min-width:320px) and (max-width: 767px)">
                            <source srcset="../img/glasses-man-tablet.png" media="(min-width: 768px) and (max-width: 1439px)">
                            <img class="image-hero" src="../img/glasses-man.png" alt="glasses-man">
                        </picture>
                    </li>
                </ul>

                <ul class="list-for-secondsection-images">
                    <li><picture>
                            <source srcset="../img/eye-man-phone.png" media="(min-width:320px) and (max-width: 767px)">
                            <source srcset="../img/eya-man-tablet.png" media="(min-width: 768px) and (max-width: 1439px)">
                            <img class="image-hero" src="../img/eye-man.png" alt="eye-man">
                    </picture>
                    </li>
                    <li><picture>
                            <source srcset="../img/sit-man-phone.png" media="(min-width:320px) and (max-width: 767px)">
                            <source srcset="../img/sit-man-tablet.png" media="(min-width: 768px) and (max-width: 1439px)">
                            <img class="image-hero" src="../img/man-sit.png" alt="man-sit">
                        </picture>
                    </li>
                    <li><picture>
                        <source srcset="../img/blackman-phone.png" media="(min-width:320px) and (max-width: 767px)">
                            <img class="image-hero" src="../img/black-man.png" alt="black-man" >
                        </picture>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</section>